.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(120, 121, 255);
  text-align: center;
}

.title {
  font-size: 66px;
  margin-bottom: 20px;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-button {
  background-color: rgb(120, 121, 255);
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px; /* Zaokrąglenie przycisków */
  transition: background-color 0.2s; /* Animacja zmiany koloru tła */

  &:hover {
    background-color: #6b6cfc; /* Kolor tła po najechaniu myszką */
  }

  &.selected {
    background-color: #6b6cfc; /* Kolor tła wybranego profilu */
  }
}

.dialog {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.close-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;

  &:hover {
    background-color: #e50000;
  }
}
.player-login-container {
  text-align: center;
  color: white;
  font-size: 25px;
}

.player-login-form {
  display: flex;
  flex-direction: column; /* Układ pionowy */
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.player-input {
  margin-bottom: 10px;
}

.login-button {
  /* Dodaj style przycisku logowania */
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(120, 121, 255);
}

.main-page {
  text-align: center;
  padding: 20px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.tile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  background-color: rgb(120, 121, 255);
  padding: 20px;
  width: 200px;
  margin: 10px;
}

/* Nowe style dla przycisków */
.button {
  background-color: rgb(120, 121, 255);
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #6b6cfc;
}

.button.selected {
  background-color: #6b6cfc;
}
.user-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: #6b6cfc;
}

.user-icon {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

.user-name {
  font-size: 18px;
  margin-right: 10px;
}

.logout-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: ;
  border: 2px solid;
}

.logout-button:hover {
  text-decoration: underline;
}

